.chart-container {

    height: 460px;
    margin: 40px auto;
    border-radius: 12px;
    padding: 1rem;

    mat-card-header {
        justify-content: center;
        text-align: center;
        padding-bottom: 0;

        mat-card-title {
            font-size: 1.4rem;
            font-weight: 600;
            color: #1a237e;
            margin-bottom: 20px;
        }
    }

    mat-card-content{
        display: flex;
        justify-content: center;
         align-items: center;
        height: 100%;
    }

    input[type="file"] {
        margin-bottom: 20px;
        display: block;
    }

    canvas {
        display: block;
        max-height: 300px;
  
        width: 100% !important;
    }
}