<div class="body-container">
    @if(actionPlan){
    <app-go-back [title]="`Détails d'un plan d'action`" [subtitle]="actionPlan.reference"
        [buttons]="goBackButtons"></app-go-back>

    <div class="plan-detail-container">
        <mat-card class="action-plan-card">
            <mat-card-header>
                <mat-card-title>
                    <span>{{ actionPlan.reference }} - {{ actionPlan.libelle }}
                        @if(actionPlan.incidentRef){
                        (Ref incident : {{ actionPlan.incidentRef }} )
                        }
                    </span>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="plan-info-content">

                <div class="info-grid">
                    <div class="info-block">
                        <mat-icon>person</mat-icon>
                        <div class="info-text">
                            <label>Equipe responsable</label>
                            <div class="value">{{ actionPlan.userInCharge }}</div>
                        </div>
                    </div>

                    <div class="info-block">
                        <mat-icon>event</mat-icon>
                        <div class="info-text">
                            <label>Date d’échéance</label>
                            <div class="value">{{ actionPlan.echeance | date: 'dd/MM/yyyy' }}</div>
                        </div>
                    </div>

                    <div class="info-block">
                        <mat-icon>priority_high</mat-icon>
                        <div class="info-text">
                            <label>Priorité</label>
                            <div class="value" [innerHTML]="getPriorityBarHtml(actionPlan.priority)"></div>
                        </div>
                    </div>

                    <div class="info-block">
                        <mat-icon>check_circle</mat-icon>
                        <div class="info-text">
                            <label>Statut</label>
                            <span class="badge status" [ngClass]="actionPlan.status.toLowerCase()">
                                {{ getReadableStatut(actionPlan.status) }}
                            </span>
                        </div>
                    </div>

                    @if(actionPlan.riskName){
                    <div class="info-block">
                        <mat-icon>check_circle</mat-icon>
                        <div class="info-text">
                            <label>Risk</label>
                            <span class="badge status" [ngClass]="actionPlan.riskName.toLowerCase()">
                                {{ actionPlan.riskName }}
                            </span>
                        </div>
                    </div>
                    }

                    @if(actionPlan.incidentRef){
                    <div class="info-block">
                        <mat-icon>check_circle</mat-icon>
                        <div class="info-text">
                            <label>Incident</label>
                            <div class="incident">
                                <span class="badge status" [ngClass]="actionPlan.incidentRef.toLowerCase()">
                                    {{ actionPlan.incidentRef }}
                                </span>
                                <button mat-raised-button class="btn-primary" (click)="goToIncident()">
                                    Accéder
                                </button>
                            </div>
                        </div>
                    </div>
                    }
                </div>

                <mat-card class="description-card">
                    <label>DESCRIPTION</label>
                    <p>{{ actionPlan.description }}</p>
                </mat-card>
            </mat-card-content>
        </mat-card>

        <mat-card class="actions-card">
            <mat-tab-group>
                <!-- Onglet "Actions à réaliser" -->
                <mat-tab label="Actions à réaliser">
                    <mat-card-header>
                        <mat-card-title>
                            <span>Actions à réaliser</span>
                            <button mat-raised-button class="btn-primary"
                                *ngIf="actionPlan.status == statusEnum.NOT_STARTED" (click)="openAddActionDialog()">
                                <mat-icon>add</mat-icon>
                                <span>Action</span>
                            </button>
                            <div class="progression-section">
                                <label>Progression globale</label>
                                <mat-progress-bar mode="determinate" [value]="progressionPercent"></mat-progress-bar>
                                <small>
                                    {{ completedActions }} sur {{ totalActions }} actions terminées
                                    ({{ progressionPercent | number: '1.0-0' }}%)
                                </small>
                            </div>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="actions-content">
                        @for(action of actions; track action){
                        <div>
                            <div class="action-row">
                                <div class="action-info">
                                    <div class="action-header">
                                        <p class="action-title">
                                            <strong>{{ action.name }}</strong>
                                            <span class="action-date"> ({{ action.createdAt | date: 'dd/MM/yyyy'
                                                }})</span>
                                        </p>
                                        <button *ngIf="canAbandonAction(action)" mat-raised-button class="btn-red"
                                            matTooltip="Abandonner" (click)="abandon(action)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                    <ng-container
                                        *ngIf="!action.performedAt && actionPlan.status != statusEnum.NOT_STARTED">
                                        <button mat-raised-button class="btn-primary" (click)="viewFiles(action.id)">
                                            <mat-icon>upload</mat-icon>
                                            Déposer un justificatif
                                        </button>
                                    </ng-container>
                                    <ng-container *ngIf="action.performedAt">
                                        <p class="validated">
                                            ✔ Terminé par <strong>{{ action.performedBy }}</strong>
                                            le {{ action.performedAt | date: 'dd/MM/yyyy' }}
                                        </p>
                                        <button mat-raised-button class="btn-primary"
                                            (click)="viewFiles(action.id, true)">
                                            <mat-icon>upload</mat-icon>
                                            Voir les fichiers joints
                                        </button>
                                    </ng-container>
                                    <ng-container
                                        *ngIf="!action.performedAt && actionPlan.status == statusEnum.NOT_STARTED">
                                        <p class="not-started">⏳ En attente de démarrage du plan d'action</p>
                                    </ng-container>

                                </div>
                            </div>
                        </div>
                        }
                    </mat-card-content>
                </mat-tab>

                <!-- Onglet "Actions annulées" -->
                <mat-tab label="Actions abandonnées">
                    <mat-card-content class="actions-content">
                        @for(action of abandonedActions; track action){
                        <div>
                            <div class="action-row">
                                <div class="action-info">
                                    <p class="action-title">
                                        <strong>{{ action.name }}</strong>
                                        <span class="action-date"> ({{ action.createdAt | date: 'dd/MM/yyyy' }})</span>
                                    </p>
                                    <p class="cancelled">❌ Action abandonnée</p>
                                </div>
                            </div>
                        </div>
                        }
                    </mat-card-content>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
    }
</div>