<mat-card class="state-card display">
    <mat-card-header>
        <mat-card-title><span>Suivi</span>
            <button mat-raised-button class="btn-primary" (click)="accessSuivi()">Accéder</button>
        </mat-card-title>

    </mat-card-header>
    <mat-card-content>
        <div class="comment-section">
            <div class="comment-header-bar">
                <span>Messages les plus récents</span>
            </div>
            @for(s of suivis; track s.id){
            <div class="comment-card">
                <div class="comment-header">
                    <mat-icon class="user-icon">person</mat-icon>
                    <span class="username">
                        {{ s.performed_by }} le {{ s.timestamp | date: "dd/MM/yyyy 'à' HH:mm" }}
                    </span>
                </div>
                <p class="comment-text">{{s.comment}}</p>
            </div>
            }
            <mat-form-field>
                <mat-label>Message</mat-label>
                <textarea matInput name="incident-com" id="commentaire" [(ngModel)]="message"></textarea>
            </mat-form-field>
            @if(!closed){
            <button mat-raised-button class="btn-primary" (click)="sendMessage()">Envoyer</button>
            }
        </div>
    </mat-card-content>
</mat-card>