<h2 mat-dialog-title>Modifier l'utilisateur</h2>
<mat-dialog-content>
<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nom d'utilisateur</mat-label>
    <input matInput formControlName="username" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Équipe</mat-label>
    <mat-select formControlName="equipeId">
      <mat-option *ngFor="let equipe of equipes" [value]="equipe.id">{{ equipe.name }}</mat-option>
    </mat-select>
  </mat-form-field>  

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Rôle</mat-label>
    <mat-select formControlName="role">
      <mat-option *ngFor="let role of ['VALIDATEUR', 'MEMBRE']" [value]="role">{{ role }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="actions">
    <button class="red" type="button" (click)="close()">Annuler</button>
    <button color="primary" type="submit">Enregistrer</button>
  </div>

</form>
</mat-dialog-content>