<div style="margin: 15px;">
  <app-go-back previousPageName="Gestion des risques" [currentPageName]="pageTitle" />
  <section>
    <div class="form-container">
      <h2>{{pageTitle}}</h2>

      @if(risk){
      <mat-stepper [linear]="false" #stepper>
        <mat-step [stepControl]="riskForm" label="Informations de base">
          <form [formGroup]="riskForm">
            <mat-form-field class="full-width">
              <mat-label>Titre du risque</mat-label>
              <input matInput formControlName="titre" placeholder="Entrez le titre du risque" />
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Taxonomie</mat-label>
              <input matInput formControlName="taxonomie" placeholder="Entrez la taxonomie" />
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Balois</mat-label>
              <input matInput formControlName="balois" placeholder="Entrez le balois" />
            </mat-form-field>

            <div class="actions">
              <button [disabled]="riskForm.invalid" matStepperNext>Suivant</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="riskForm2" label="Autres info">
          <form [formGroup]="riskForm2">

            <mat-form-field class="full-width">
              <mat-label>Description du risque</mat-label>
              <textarea matInput formControlName="description" placeholder="Entrez la description du risque"></textarea>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Niveau</mat-label>
              <mat-select formControlName="level" placeholder="Choisissez un niveau de risque" required>
                @for(level of riskLevels; track level){
                <mat-option [value]="level">
                  {{ getRiskLevelLabel(level) }}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width plan-action">
              <mat-label>Plan d'action</mat-label>
              <textarea matInput formControlName="plan" placeholder="Décrivez le plan d'action à suivre"></textarea>
            </mat-form-field>

          </form>

          <div class="actions">
            <button class="red" matStepperPrevious>Retour</button>
            <button [disabled]="riskForm.invalid || riskForm2.invalid" (click)="createRisk()">Soumettre</button>
          </div>
        </mat-step>
      </mat-stepper>
      }
    </div>
  </section>
</div>