<div style="margin: 15px;">
<app-go-back previousPageName="Gestion des risques" [currentPageName]="pageTitle" />
<section>
<div class="form-container">
    <h2>{{pageTitle}}</h2>
    
    @if(risk){
        <form [formGroup]="riskForm" (submit)="createRisk()">
            <div class="form-group">
                <label for="risk-title">Titre du risque</label>
                <input type="text" id="risk-title" name="titre" formControlName="titre" placeholder="Entrez le titre du risque" [(ngModel)]="risk.titre" />
            </div>
    
            <div class="form-group">
                <label for="risk-taxonomie">Taxonomie</label>
                <input type="text" id="risk-taxonomie" name="taxonomie" formControlName="taxonomie" placeholder="Entrez la taxonomie" [(ngModel)]="risk.taxonomie"/>
            </div>
    
            <div class="form-group">
                <label for="risk-balois">Balois</label>
                <input type="text" id="risk-balois" name="balois" formControlName="balois" placeholder="Entrez le balois" [(ngModel)]="risk.balois"/>
            </div>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Description du risque</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Niveau</mat-label>
                <mat-select formControlName="level" required>
                  @for(level of levels; track level){
                  <mat-option [value]="level">
                    {{ level }}
                  </mat-option>
                  }
                </mat-select>
              </mat-form-field>
    
            <button [disabled]="riskForm.invalid" type="submit">Enregistrer</button>
        </form>
    }
</div>
</section>
</div>