<h2>Paramétrage</h2>

<button (click)="navToEntites();">
    Entité responsable
</button>
<button (click)="navToRisk();">
    Risques
</button>
<!-- <app-category-selection [settings]="settings"></app-category-selection> -->
<!-- <mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="leaf">
        {{node.name}}
        <button mat-fab-button (click)="createNode(node); $event.stopPropagation()">
            <mat-icon class="mat-icon-rtl-mirror">add</mat-icon>
        </button>
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
        [cdkTreeNodeTypeaheadLabel]="node.name" class="node">
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
                {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>
        <label>
            {{node.name}}
        </label>
        <button mat-fab-button (click)="createNode(node); $event.stopPropagation()">
            <mat-icon class="mat-icon-rtl-mirror">add</mat-icon>
        </button>
    </mat-tree-node>
</mat-tree>
-->

