<div class="container-user-choice">
    <div>
        <h3>Que voulez-vous gérer ?</h3>
        <div>
            <div class="container-box-list">
                <div class="box" (click)="navToEntites()">
                    <mat-icon>business</mat-icon>
                    <span>Entité responsable</span>
                </div>
                <div class="box" (click)="navToRisk()">
                    <mat-icon>security</mat-icon>
                    <span>Risques</span>
                </div>
                <div class="box" (click)="navToProcess()">
                    <mat-icon>account_tree</mat-icon>
                    <span>Process</span>
                </div>
            </div>
        </div>
    </div>
</div>