<app-go-back title="Module cartographie" [buttons]="goBackButtons"></app-go-back>
<div class="dashboard-container">

  <mat-card class="filters-card">

    <mat-card-content>
      <div class="filters-header">
        <div>
          <mat-icon>analytics</mat-icon>
          <span class="filters-title">Recherche</span>
        </div>
      </div>
      <div class="grid">
        <!-- BU -->
        <div class="input-container">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Business Unit</mat-label>
            <mat-select [(ngModel)]="selectedBu" (selectionChange)="onBuChange($event.value)" required>
              <mat-option value="" disabled>— Sélectionnez une BU —</mat-option>
              <mat-option *ngFor="let bu of businessUnits" [value]="bu">
                {{ bu.name }}
              </mat-option>
            </mat-select>
            <button mat-icon-button matSuffix matTooltip="Sélectionnez la Business Unit associée à cet incident.">
              <mat-icon>info</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  @if(selectedBu){
  <app-list-process></app-list-process>
  }

</div>