<app-go-back title="Module cartographie" [buttons]="goBackButtons"></app-go-back>
<br />
<br />
<br />
<br />
<br />
<div class="container">

  <div class="grid">
    <!-- BU -->
    <div class="field">
      <label for="bu">Business Unit <span class="req">*</span></label>
      <select id="bu" [(ngModel)]="selectedBuId" required>
        <option value="" disabled selected>— Sélectionnez une BU —</option>
        <option *ngFor="let bu of businessUnits" [value]="bu.id">
          {{ bu.name }}
        </option>
      </select>
    </div>

    <!-- Année -->
    <div class="field">
      <label for="year">Date d'Exercice <span class="req">*</span></label>
      <select id="year" [(ngModel)]="selectedYear" required>
        <option value="" disabled>— Sélectionnez une année d'exercice —</option>
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
    </div>

    <button class="btn btn-primary" [disabled]="!selectedYear || !selectedBuId" (click)="goCreate()">
      Voir la cartographie
    </button>
  </div>
</div>