<h2 mat-dialog-title>{{titlePage}}</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <div class="form-group">
      <label for="reset-email">Nom :</label>
      <input formControlName="name" placeholder="Nom" required />
    </div>

    <div class="form-group">
      <label>Ligne Métier ?</label>
      <mat-slide-toggle formControlName="isLM" />
    </div>
  </form>
  <app-select-entities [selectId]="entiteResponsable.parentId ? entiteResponsable.parentId : ''" (entitieSelected)="entiteChange($event)"></app-select-entities>
  <div class="actions">
    <button [disabled]="formGroup.invalid" (click)="onSave()">Enregitrer</button>
    <button class="red" (click)="goBack()">Retour</button>
  </div>
</mat-dialog-content>