/* Style the dialog container */
::ng-deep .mat-dialog-container {
    padding: 20px;
    max-width: 100%;
    border-radius: 8px;
}

mat-dialog-content {
    overflow: hidden;
}

/* Title of the dialog */
h2.mat-dialog-title {
    font-size: 20px;
    font-weight: bold;
    color: #3f51b5;
    /* You can change the color to suit your theme */
    margin-bottom: 20px;
    text-align: center;
    overflow: hidden;
}

/* Form field styling */
mat-form-field {
    width: 100%;
    /* Ensure it stretches full width */
    margin-bottom: 20px;
}

/* Button styling */
button.save-button {
    color: black;
    background-color: var(--mat-sys-primary-fixed);
    color: var(--mat-sys-on-secondary);
    border: 0px;
    border-radius: 20px;
    padding: 8px
}

button.save-button:hover {
    cursor: pointer;
    background-color: var(--mat-sys-primary-fixed-dim);
}

.toggle-container {
    margin-left: 4%;
}

input {
    width: 95%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Style the circle inside the toggle */
mat-slide-toggle {
    background-color: #8e8e8e; /* Set color for the background bar */
}