<mat-toolbar color="primary">
    <span>Risk View</span>
    <span class="spacer"></span>
    <nav>
        <a routerLink="/" mat-button>Tableau de bord</a>
        <a routerLink="/incident" mat-button>Incidents</a>
        <button routerLink="/reglages" mat-raised-button>
            <mat-icon>settings</mat-icon>
        </button>
        <!-- <a routerLink="/auth/login" mat-flat-button>Connexion</a>
        <a routerLink="/auth/register" mat-stroked-button>Inscription</a> -->
        <button mat-flat-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>person</mat-icon>
                <span>Profil</span>
            </button>
            <button mat-menu-item>
                <mat-icon>logout</mat-icon>
                <span>Déconnexion</span>
            </button>
        </mat-menu>
    </nav>
</mat-toolbar>