<select (change)="onBusinessUnitChange($event)">
  <option value="">— Sélectionner une BU —</option>
  <option *ngFor="let bu of businessUnits" [value]="bu.id">
    {{ bu.name }}
  </option>
</select>

<select (change)="onCartoChange($event)">
  <option value="">— Sélectionner une carto —</option>
  <option *ngFor="let carto of cartographies" [value]="carto.id">
    {{ carto.name }}
  </option>
</select>

<div *ngIf="selectedCarto">
  <strong>Carto :</strong> {{ selectedCarto.reference }} — {{ selectedCarto.name }} - {{ selectedCarto.evaluationAggregation }}
</div>
