<section>
<div class="category-container">
    <h2>Sélectionnez une entité</h2>
    @if(entities.length > 0){
    <ul>
        @if(settings){
        <button matRipple mat-mini-fab (click)="addEntity()" aria-label="Example icon button with a menu icon">
            <mat-icon>add</mat-icon>
        </button>
        }
        <mat-chip-set>
            @for(entite of viewEntities; track entite){
                @if(!settings){
                <input type="checkbox" [checked]="isChecked(entite)" (change)="toggleSelection(entite, $event)"
                    (click)="$event.stopPropagation()">
                }
                <mat-chip>
                    {{ entite.name }}
                </mat-chip>
                
                @if(entite.children && entite.children.length > 0){
                <button (click)="handleCategoryAndNavigate(entite, $event)">
                    ➡
                </button>
                }
            }
        </mat-chip-set>
    </ul>
    <div class="buttons">
        <button (click)="goBack()">Retour</button>
        <button (click)="confirmSelection()">Valider</button>
    </div>
    }
    @else{
    <p>Aucune entité disponible</p>
    }
</div>
</section>