.category-container {
    max-width: 400px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;

    &[mat-mini-fab]{
        padding: 0px 4px;
    }

    mat-icon{
        display: block;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

span{
    pointer-events: auto;
}

input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 8px;
}

.category-container {
    width: 35%; /* Défini à 50% de la page */
    max-width: 600px; /* Pour éviter qu'il devienne trop large sur grands écrans */
    padding: 25px;
    background-color: var(--mat-sys-surface-container-low);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1px solid var(--mat-sys-surface-container-high);

    label {
      font-weight: bold;
      margin-bottom: 5px;
      color: var(--mat-sys-secondary);
      text-align: justify;
  }

  form{
    margin-block: 20px;
  }
  
  button {

    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}
a {
  display: block;
  margin-top: 10px;
  color: var(--mat-sys-on-primary-container);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
}

mat-chip-set{
    margin-top: 20px;
}

section{
    height: 80vh;
}