<app-popup-header [title]="'Créer un contrôle'" [showClose]="true" (close)="closePopup()"></app-popup-header>
<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="row-add">
    <mat-form-field appearance="outline">
      <mat-label>Libellé</mat-label>
      <input matInput formControlName="libelle" />
    </mat-form-field>
  </div>

  <div class="row-add">
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </div>

  <div class="row-add">
    <mat-form-field appearance="outline">
      <mat-label>Récurrence</mat-label>
      <mat-select formControlName="frequency">
        @for (rec of recurences; track rec) {
        <mat-option [value]="rec">{{ rec | enumLabel: 'recurrence' }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Degré du niveau</mat-label>
      <mat-select formControlName="level">
        @for (lev of levels; track lev) {
        <mat-option [value]="lev">{{ lev | enumLabel: 'degree' }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row-add">

    <mat-form-field appearance="outline">
      <mat-label>Type de contrôle</mat-label>
      <mat-select formControlName="type">
        @for (t of types; track t) {
        <mat-option [value]="t">{{ t | enumLabel: 'controlType' }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Priorité</mat-label>
      <mat-select formControlName="priority">
        @for (t of priorities; track t) {
        <mat-option [value]="t">{{ t | enumLabel: 'priority' }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <button style="margin-bottom: 10px;" mat-stroked-button (click)="create()">
    <mat-icon>add</mat-icon>
    Associer BU / Processus / Risque *
  </button>
  <mat-chip-listbox style="margin-bottom: 20px;" *ngIf="selectedBPR">
    <mat-chip> Equipe : {{ selectedBPR.bu.name }}</mat-chip>
    <mat-chip> Processus : {{ selectedBPR.process.name }}</mat-chip>
    <mat-chip>Risque : {{ selectedBPR.risk.name }}</mat-chip>
  </mat-chip-listbox>
  <button mat-raised-button class="btn-primary" type="submit">Créer</button>
</form>