@if(users && users.length > 0){
<div class="user-list">
    <mat-form-field appearance="outline" class="full-width autocomplete-field" >
        <input type="text" matInput [placeholder]="placeholder" [matAutocomplete]="auto" [(ngModel)]="searchQuery"
            [formControl]="stateCtrl" (input)="filterBySearch();" (focus)="filterBySearch()"
            (keydown.enter)="filterBySearch()" />
            <mat-icon matPrefix>group_add</mat-icon>
            <button mat-icon-button matSuffix matTooltip="Collaborateur qui aura accès à l'incident pour vous supporter">
                <mat-icon>info</mat-icon>
              </button>

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)" [displayWith]="displayFn">
            <mat-option *ngIf="(filteredStates | async)?.length === 0" disabled class="no-results">
                Aucun utilisateur trouvé
            </mat-option>
            <mat-option *ngFor="let user of filteredStates | async" [value]="user" class="autocomplete-option">
                <div class="option-content">
                    <div class="product-info">
                        <span class="product-name">{{ user.username + (username == user.username ? " (Moi)" : "")
                            }}</span>
                    </div>
                </div>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>
}