<h2 mat-dialog-title>Ajouter un Impact</h2>
@if(impact){
<mat-dialog-content>
  <form (ngSubmit)="addImpact()">

    <mat-form-field class="full-width">
      <mat-label>Montant</mat-label>
      <input matInput type="number" name="montant" [(ngModel)]="impact.montant" placeholder="Entrez le montant" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select name="type" placeholder="Choisissez le type d'impact" required [(ngModel)]="impact.type">
        @for(type of types; track type){
        <mat-option [value]="type">
          {{ type }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Entité impactée</mat-label>
      <mat-select name="entite" required (selectionChange)="setEntite($event.value);">
        @for(entite of entites; track entite){
        <mat-option [value]="entite">
          {{ entite.name }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Date de comptabilisation (facultatif)</mat-label>
      <input matInput type="date" name="comptabilisationDate" [(ngModel)]="impact.comptabilisationDate"
        placeholder="Entrez la description du risque" />
    </mat-form-field>

    <div class="actions">
      <button mat-raised-button class="btn-red" type="button" (click)="close()">Annuler</button>
      <button [disabled]="!impact.type || !impact.entityId" mat-button type="submit" mat-raised-button
        class="btn-primary">Ajouter</button>
    </div>
  </form>
</mat-dialog-content>
}