<app-go-back [title]="'Ajouter un impact'" />

@if(impact){
<mat-dialog-content>
  <form (ngSubmit)="addImpact()">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <mat-form-field class="full-width">
      <mat-label>Montant</mat-label>
      <input matInput type="number" name="montant" [(ngModel)]="impact.montant" placeholder="Entrez le montant" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select name="type" placeholder="Choisissez le type d'impact" required [(ngModel)]="impact.type">
        @for(type of types; track type){
        <mat-option [value]="type">
          {{ type }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Entité impactée</mat-label>
      <mat-select name="entite" required (selectionChange)="setEntite($event.value);">
        @for(entite of entites; track entite){
        <mat-option [value]="entite">
          {{ entite.name }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Date de comptabilisation (facultatif)</mat-label>
      <input matInput type="date" name="comptabilisationDate" [(ngModel)]="impact.comptabilisationDate"
        placeholder="Entrez la description du risque" />
    </mat-form-field>

    <div class="actions">
      <!-- <button mat-raised-button class="btn-red" type="button" (click)="close()">Annuler</button> -->
      <button [disabled]="!impact.type || !impact.entityId" mat-button type="submit" mat-raised-button
        class="btn-primary">Ajouter</button>
    </div>
  </form>
</mat-dialog-content>
}

<mat-card>
  <mat-card-title>Liste des Impacts</mat-card-title>

  <table mat-table [dataSource]="impacts" class="mat-elevation-z8" multiTemplateDataRows>

    <!-- Montant Column -->
    <ng-container matColumnDef="montant">
      <th mat-header-cell *matHeaderCellDef> Montant </th>
      <td mat-cell *matCellDef="let impact"> {{impact.montant | number}} </td>
    </ng-container>

    <!-- Entity Column -->
    <ng-container matColumnDef="entityName">
      <th mat-header-cell *matHeaderCellDef> Entité </th>
      <td mat-cell *matCellDef="let impact"> {{impact.entityName}} </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let impact"> {{impact.type}} </td>
    </ng-container>

    <!-- Date de création -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Créé le </th>
      <td mat-cell *matCellDef="let impact"> {{impact.createdAt | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Comptabilisation -->
    <ng-container matColumnDef="comptabilisationDate">
      <th mat-header-cell *matHeaderCellDef> Comptabilisé le </th>
      <td mat-cell *matCellDef="let impact">
        {{ impact.comptabilisationDate ? (impact.comptabilisationDate | date:'dd/MM/yyyy') : '—' }}
      </td>
    </ng-container>

    <!-- Comptabilisation -->
    <ng-container matColumnDef="fichiers">
      <th mat-header-cell *matHeaderCellDef> Fichiers </th>
      <td mat-cell *matCellDef="let impact">
        <button mat-button color="primary" (click)="viewFiles(impact)">
          Voir les fichiers
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>