mat-card {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.impact-card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.impact-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

mat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

app-impact-card {
  min-width: 150px;
  flex: 1 1 21%;
  max-width: 150px;
}

.full-width {
  width: 100%;
}

::ng-deep .mat-mdc-card-header-text {
  width: 100%;
}

mat-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: var(--mat-sys-on-primary-container);
  margin-bottom: 10px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

mat-form-field mat-label {
  font-weight: bold;
  font-size: large;
  color: var(--mat-sys-on-secondary-container);
}

mat-form-field input {
  color: #424242;
}

mat-form-field .mat-form-field-appearance-outline .mat-form-field-outline {
  border-radius: 4px;
}

mat-form-field textarea {
  font-size: 14px;
}

mat-card-header {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

mat-card-header span {
  font-size: 20px;
  font-weight: bold;
}

.impacts-container {
  display: flex;
  gap: 10px;
  max-width: 400px;
  flex-direction: row;
  scroll-behavior: smooth;
  overflow-x: auto;
}

mat-card-content {
  padding-top: 10px;
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .impacts-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  app-impact-card {
    width: 100%;
    margin-bottom: 20px;
  }
}

.none {
  display: none;
}

.display {
  display: block;
}

@media (min-width: 1830px) {
  .none {
    display: block;
  }

  .display {
    display: none;
  }

}

.view-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin: 20px;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}