<mat-card class="state-card">
    <mat-card-header>
        <mat-card-title>
            <span>Impacts -
                <strong>
                    Total : {{ totalAmount | currency : 'EUR' }}
                </strong>
            </span>
            @if(!closed){
            }
            <button mat-raised-button class="btn-primary" (click)="addImpact()">
                Consulter
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-title>
    </mat-card-header>
</mat-card>