<section class="dashboard-container">
  <mat-card class="dashboard-header-card">
    <mat-card-content class="dashboard-header">
      <h1>Liste des controles</h1>
      <div class="header-controls">
        <button (click)="export()" mat-raised-button class="btn-green">
          <mat-icon>file_download</mat-icon>
          Exporter
        </button>
        <button (click)="refresh()" mat-raised-button class="btn-primary">
          <mat-icon>refresh</mat-icon>
          Actualiser
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- SECTION FILTRES -->
  <mat-card class="filters-card">
    <mat-card-content class="dashboard-header">
      <div class="filters-section">
        <!-- Zone de recherche (optionnelle) -->
        <div class="files-search-container">
          <mat-form-field class="files-search-field" appearance="outline">
            <mat-label>Rechercher un contrôle</mat-label>
            <div class="files-search-input-container">
              <input matInput [(ngModel)]="searchQuery" (input)="onSearchControls($event)"
                placeholder="Nom du contrôle, responsable..." />
              <div class="files-search-input-actions">
                <mat-icon matSuffix>search</mat-icon>
                @if (searchQuery && searchQuery.length > 0) {
                <button matSuffix mat-icon-button aria-label="Effacer" (click)="clearSearch()">
                  <mat-icon>close</mat-icon>
                </button>
                }
              </div>
            </div>
          </mat-form-field>
          <app-date-range-picker #picker (dateRangeSelected)="onDateRangeSelected($event)"></app-date-range-picker>
        </div>
      </div>

      <!-- Boutons -->
      <div class="header-controls">
        <button (click)="resetFilters()" mat-raised-button class="btn-red">
          <mat-icon>clear</mat-icon>
          Réinitialiser
        </button>
        <button (click)="create()" mat-raised-button class="btn-primary add-button">
          <mat-icon>add</mat-icon>
          Ajouter
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <div>
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        @for (column of columns; track column) {
        <ng-container [matColumnDef]="column.columnDef">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ column.header }}
          </th>

          <td mat-cell *matCellDef="let row" (click)="onRowClick(row)">

            <!-- Si c'est une colonne badge, on affiche un span avec la classe correspondante -->
            <ng-container *ngIf="column.isBadge; else plainCell">
              <span class="badge" [ngClass]="getBadgeClass(column.isBadge, column.cell(row))">
                {{ column.cell(row) }}
              </span>
            </ng-container>

            <!-- Sinon affichage simple -->
            <ng-template #plainCell>
              {{ column.cell(row) }}
            </ng-template>

          </td>
        </ng-container>
        }
        <!-- Actions -->
        <!-- <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button color="warn" (click)="onConfirmAction(row.id)" matTooltip="Supprimer">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" matTooltip="Cliquez pour voir plus">
        </tr>

      </table>
      <mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[4, 10, 15]"
        aria-label="Page selection pour le tableau" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</section>