<div class="create-container">
  <app-go-back previousPageName="Liste des incidents" currentPageName="Ajout d'un incident" />
  <section>
    <div class="form-container">
      <h2>Ajout d'un incident</h2>
      <mat-stepper [linear]="false" #stepper>
        <mat-step [stepControl]="incidentForm1" label="Informations de base">
          <form [formGroup]="incidentForm1">
            <mat-form-field >
              <mat-label>Titre</mat-label>
              <input matInput formControlName="titre" placeholder="Titre">
            </mat-form-field>

            <ng-container *ngIf="hasTeam; else selectTeam">
              <mat-form-field >
                <mat-label>Équipe</mat-label>
                <input matInput formControlName="equipeName" readonly>
              </mat-form-field>
            </ng-container>
            <ng-template #selectTeam>
              <mat-form-field>
                <mat-label>Choisissez une équipe</mat-label>
                <mat-select formControlName="equipeName">
                  <mat-option *ngFor="let team of listTeams" [value]="team">{{ team }}</mat-option>
                </mat-select>
              </mat-form-field>
            </ng-template>    

            <mat-form-field class="full-width">
              <mat-label>Description de l'incident</mat-label>
              <textarea matInput formControlName="commentaire" placeholder="Description de l'incident"></textarea>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Localisation de l'incident</mat-label>
              <input matInput formControlName="location" placeholder="Location">
            </mat-form-field>

            <div class="actions">
              <button mat-raised-button class="btn-green" (click)="draft()">Brouillon</button>
              <button mat-raised-button class="btn-primary" [disabled]="incidentForm1.invalid" matStepperNext>Suivant</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="incidentForm2" label="Dates">
          <form [formGroup]="incidentForm2">
            <mat-form-field>
              <mat-label>Date de déclaration</mat-label>
              <input matInput type="date" formControlName="dateDeDeclaration" readonly>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Date de survenance</mat-label>
              <input matInput type="date" formControlName="dateDeSurvenance">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Date de détection</mat-label>
              <input matInput type="date" formControlName="dateDeDetection">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Date de clôture (si clôturé)</mat-label>
              <input matInput type="date" formControlName="dateDeCloture">
            </mat-form-field>

            <div class="actions">
              <button mat-raised-button class="btn-red" matStepperPrevious>Retour</button>
              <button mat-raised-button class="btn-green" (click)="draft()">Brouillon</button>
              <button mat-raised-button class="btn-primary" [disabled]="incidentForm2.invalid" matStepperNext>Suivant</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="incidentForm3" label="Autres info">
          <form [formGroup]="incidentForm3">

            <app-button-add-file label="Télécharger des images" [accept]="'image/*'" [preview]="true"
              property="newImages" (filesSelected)="onFilesChange($event)">
            </app-button-add-file>

            <mat-radio-group formControlName="risk">
              @for(risk of listRisk; track risk){
              <mat-radio-button [value]="risk">{{risk.balois}}</mat-radio-button>
              }
            </mat-radio-group>

            @if(getSubRisk() != ''){
            <mat-form-field>
              <mat-label>Sous catégorie du Risque</mat-label>
              <mat-select formControlName="subRisk" placeholder="Sous catégorie du Risque">
                @for(subRisk of getSubRisk(); track subRisk){
                <mat-option [value]="subRisk">{{ subRisk.balois }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            }

            <mat-form-field>
              <mat-label>Processus</mat-label>
              <mat-select formControlName="process" placeholder="Processus">
                @for(process of listProcess; track process){
                <mat-option [value]="process">{{ process.name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <app-select-users (userSelected)="changeUser($event)" placeholder="Collaborateur pouvant vous aider" />

          </form>

          <div class="actions">
            <button mat-raised-button class="btn-red" matStepperPrevious>Retour</button>
            <button mat-raised-button class="btn-green" (click)="draft()">Brouillon</button>
            <button  mat-raised-button class="btn-primary" [disabled]="incidentForm1.invalid || incidentForm2.invalid || incidentForm3.invalid" (click)="addIncident()">Soumettre</button>
          </div>
        </mat-step>
      </mat-stepper>
    </div>
  </section>
</div>