
<div class="list-container">
    <h2>Liste des incidents en cours</h2>
    <div class="actions">
        <mat-form-field>
            <mat-label>Rechercher</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. 1" #input>
        </mat-form-field>
        <button class="add-button" mat-raised-button (click)="add()">Ajouter</button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        @for (column of columns; track column) {
        <ng-container [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{column.header}}
            </th>
            <td mat-cell *matCellDef="let row" (click)="onRowClick(row)">
                {{column.cell(row)}}
            </td>
        </ng-container>
        }

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Aucun résultat pour "{{input.value}}"</td>
        </tr>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[5, 10, 15]"
        aria-label="Page selection pour le tableau"></mat-paginator>
</div>