.list-container {
    margin-top: 2%;
    margin-left: 25%;
    width: 50%;
    margin-bottom: 2%;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
    font-weight: bold;
    color: var(--mat-sys-tertiary);
}

th.mat-sort-header-sorted {
    color: black;
}

tr.mat-mdc-footer-row td {
    font-weight: bold;
}


.actions {
    display: flex;
    justify-content: space-between; /* Space between the search field and the button */
    align-items: center; /* Vertically center both elements */
    width: 100%; /* Ensure it takes up the full width of the parent */
}

.add-button {
    margin-left: auto; /* Push the button to the right */
}