<section class="dashboard-container">
    <!-- En-tête avec titre et boutons d'action -->
    <mat-card class="dashboard-header-card">
        <mat-card-content class="dashboard-header">
            <h1>Liste des incidents</h1>
            <div class="header-controls">
                <button mat-raised-button class="btn-green">
                    <mat-icon>file_download</mat-icon>
                    Exporter
                </button>
                <button (click)="refreshData()" mat-raised-button class="btn-primary">
                    <mat-icon>refresh</mat-icon>
                    Actualiser
                </button>
            </div>
        </mat-card-content>
    </mat-card>

    <!-- Section des filtres -->
    <mat-card class="filters-card">
        <mat-card-content class="dashboard-header">
            <div class="filters-section">
                <!-- <div class="filters-header">
                <div>
                    <mat-icon>filter_alt</mat-icon>
                    <span class="filters-title">Filtres</span>
                </div>
                <button (click)="clearFilters()" mat-raised-button class="btn-red">
                    <mat-icon>clear</mat-icon>
                    Réinitialiser
                </button>
            </div> -->

                <div class="filters-row">
                    <div class="filter-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Type de date</mat-label>
                            <mat-select [formControl]="dateTypeFilter">
                                <mat-option value="survenance">Date de survenance</mat-option>
                                <mat-option value="declaration">Date de déclaration</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="filter-group date-range-group" style="display: flex; gap: 16px;">
                        <mat-form-field appearance="outline" class="date-field">
                            <mat-label>Date de début</mat-label>
                            <input matInput [matDatepicker]="startPicker" [formControl]="startDateFilter"
                                placeholder="Date de début">
                            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                            <mat-datepicker #startPicker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="date-field">
                            <mat-label>Date de fin</mat-label>
                            <input matInput [matDatepicker]="endPicker" [formControl]="endDateFilter"
                                placeholder="Date de fin">
                            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                            <mat-datepicker #endPicker></mat-datepicker>
                        </mat-form-field>
                    </div>


                    <!-- <div class="filter-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Catégorie</mat-label>
                            <mat-select [formControl]="categoryFilter">
                                <mat-option value="">Toutes</mat-option>
                                <mat-option *ngFor="let category of getUniqueCategories()" [value]="category">{{
                                    category
                                    }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->

                    <div class="filter-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Statut</mat-label>
                            <mat-select [formControl]="statusFilter">
                                <mat-option value="">Tous</mat-option>
                                <mat-option value="En cours">En cours</mat-option>
                                <mat-option value="Clôturé">Clôturé</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="header-controls">
                <button (click)="clearFilters()" mat-raised-button class="btn-red">
                    <mat-icon>clear</mat-icon>
                    Réinitialiser
                </button>
                <button mat-raised-button class="btn-primary add-button" (click)="add()"
                    *appHasPermission="'ENTER_INCIDENT'"><mat-icon>add</mat-icon>Ajouter un incident</button>
            </div>
        </mat-card-content>

    </mat-card>

    <mat-card>
        <div class="table-container">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef class="checkbox-header-cell">
                        <mat-checkbox aria-label="Tout sélectionner" matTooltip="Tout sélectionner" data-header="true"
                            [checked]="isAllSelected()" [indeterminate]="isIndeterminate()"
                            (change)="toggleAllSelection()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row" class="checkbox-cell">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleIncidentSelection(row.id)"
                            [checked]="isIncidentSelected(row.id)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                @for (column of columns; track column) {
                <ng-container [matColumnDef]="column.columnDef">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{column.header}}
                    </th>
                    <td mat-cell *matCellDef="let row" (click)="onRowClick(row)" [innerHTML]="column.cell(row)">

                    </td>
                </ng-container>
                }
                <!-- Actions -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button color="warn" (click)="onConfirmAction(row.id)" matTooltip="Supprimer">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" matTooltip="Cliquez pour voir plus">
                </tr>

            </table>
            <mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[5, 10, 15]"
                aria-label="Page selection pour le tableau" showFirstLastButtons>
            </mat-paginator>
        </div>
    </mat-card>

</section>