<!-- <div class="timeline-container">
    <h2>Historique de l'incident</h2>

    <div *ngIf="history.length === 0" class="empty">
        <mat-icon>history</mat-icon> Aucun historique disponible.
    </div>

    <div class="timeline">
        @for(entry of history; track entry.id){
        <div class="timeline-item">
            <div class="timeline-icon" class="modification">
                <mat-icon> edit </mat-icon>
            </div>

            <div class="timeline-content mat-elevation-z2">
                <div class="header">
                    <span class="meta">
                        Par {{ entry.performed_by }} le {{ entry.timestamp | date:'dd/MM/yyyy HH:mm' }}
                    </span>
                </div>

                <div *ngIf="entry.comment && entry.comment.includes('Impact ajouté')">
                    <p class="impact-summary">
                        {{ getImpactSummary(entry.comment) }}
                    </p>
                </div>

                <p class="comment">{{ entry.comment }}</p>

                <button *ngIf="entry.action !== 'CREATION' && entry.action !== 'CLOTURE'" mat-button
                        (click)="openSnapshotDialog(entry)">
                        <mat-icon>compare</mat-icon> Détails des changements
                    </button>
            </div>
        </div>
        }
    </div>
</div> -->