@if(buName){

<app-go-back [title]="`Analyse et évaluation des risques de l'entité : ` +  buName"
  [buttons]="goBackButtons"></app-go-back>
<section class="dashboard-container">

  <!-- Section des filtres -->
  <mat-card class="filters-card">
    <mat-card-content class="dashboard-header">
      <div class="filters-section">
        <div class="filters-header">
          <div>
            <mat-icon>filter_alt</mat-icon>
            <span class="filters-title">Filtres</span>
          </div>
        </div>
        <div class="filters-row">

          <div class="filter-group">
            <mat-form-field appearance="outline" class="filter-field">
              <mat-label>Niveau de risque</mat-label>
              <mat-select [(ngModel)]="selectedNiveau" (selectionChange)="applyFilters()">
                <mat-option [value]="null" selected>TOUS</mat-option>
                <mat-option *ngFor="let lev of levels" [value]="lev">{{ lev }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="header-controls">
        <button (click)="clearFilters()" mat-raised-button class="btn-red">
          <mat-icon>clear</mat-icon>
          Réinitialiser
        </button>

      </div>
    </mat-card-content>
  </mat-card>

  <div class="matrix-container">
    <mat-card class="filters-card">
      <mat-card-content class="filters-section">
        <div class="filters-header">
          <div>
            <span class="filters-title">Matrice des risques</span>
          </div>
        </div>

        @if(matrixData) {
        <app-matrix [risks]="filteredRisks" [matrixData]="matrixData"
          (selectedRiskEvent)="selectedRisk = $event"></app-matrix>
        }
      </mat-card-content>
    </mat-card>


    <mat-card class="filters-card">
      <mat-card-content class="filters-section detail">
        <div>
          <div class="filters-header">
            <div>
              <span class="filters-title">Détails du risque</span>
            </div>
          </div>

          @if(filteredRisks && filteredRisks.length > 0) {
          <div class="risk-header">
            <mat-form-field appearance="outline" class="risk-select-field">
              <mat-label>Sélectionner un risque</mat-label>
              <mat-select [value]="selectedRisk" (selectionChange)="onSelectRisk($event.value)">
                @for (option of filteredRisks; track option) {
                <mat-option [value]="option">
                  {{ option.reference + ' - ' + option.libelle }}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          }
        </div>
        <app-risk-matrix style="border-top: 1px solid var(--mat-sys-outline-variant);
    padding-top: 24px; height: 100%;" [riskData]="selectedRisk" [processMap]="processMap"
          (onModify)="handleModifyRisk($event)">
        </app-risk-matrix>

      </mat-card-content>
    </mat-card>
  </div>

</section>
}