<mat-card class="chart-container mat-elevation-z3">
  <mat-card-header>
    <mat-card-title>Taux de réalisation des contrôles</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <ng-container *ngIf="!isLoading; else loading">
      <canvas
        baseChart
        [data]="data"
        [options]="options"
        type="bar">
      </canvas>
    </ng-container>

    <ng-template #loading>
      <div class="loading-container">
        <mat-spinner diameter="40"></mat-spinner>
        <p>Chargement des données...</p>
      </div>
    </ng-template>
  </mat-card-content>

  <mat-card-footer>
    {{ completedControls }} contrôles réalisés sur un total de {{ totalControls }} contrôles assignés
  </mat-card-footer>
</mat-card>
