<section>
  <div class="form-container">
    <h2>Créer un utilisateur</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="firstname">Prénom</label>
        <input id="firstname" type="text" formControlName="username" placeholder="Prénom">
      </div>

      <div class="form-group">
        <label for="mail">Email</label>
        <input id="mail" type="email" formControlName="email" placeholder="Email">
      </div>

      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input id="password" type="password" formControlName="password" placeholder="Mot de passe">
      </div>

      <div class="form-group">
        <label for="equipe">Équipe</label>
        <select id="equipe" formControlName="equipeId">
          <option *ngFor="let equipe of equipes" [value]="equipe.id">
            {{ equipe.name }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="role">Rôle</label>
        <select id="role" formControlName="role">
          <option value="MEMBRE">MEMBRE</option>
          <option value="VALIDATEUR">VALIDATEUR</option>
        </select>
      </div>

      <button type="submit" [disabled]="userForm.invalid">Créer</button>
    </form>
  </div>
</section>