<h2 mat-dialog-title>{{title}} un utilisateur</h2>
<mat-dialog-content>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <div class="row-add">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Prénom</mat-label>
        <input matInput formControlName="username" placeholder="Prénom" autocomplete="new-username" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Email" autocomplete="new-user-email" />
      </mat-form-field>
    </div>
    @if(!data){
    <div class="row-add">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Mot de passe" autocomplete="new-password" />
      </mat-form-field>
    </div>
    <app-organigramme (rolesEvent)="getRoles($event)"/>
    }
    @else{
      <app-organigramme (rolesEvent)="getRoles($event)" [userId]="data.user.id"/>
    }

    <button type="submit" mat-raised-button class="btn-primary">{{title}}</button>

  </form>
</mat-dialog-content>