<mat-card class="chart-container mat-elevation-z3">
    <mat-card-header>
      <mat-card-title>📊 Incidents par trimestre</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <canvas baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        type="bar">
      </canvas>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="chart-container mat-elevation-z3">
    <mat-card-header>
      <mat-card-title>🍩 Répartition des incidents par état</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <canvas baseChart
        [data]="doughnutChartDataFull"
        [options]="doughnutChartOptions"
        type="doughnut">
      </canvas>
    </mat-card-content>
  </mat-card>
  