<div class="intervals-container">

  <!-- Axe visuel -->
  <div class="axis">
    <div *ngFor="let range of list" class="segment" [style.flex]="(range.max || 100) - range.min">
      {{ range.libelle }}
    </div>
  </div>

  <!-- Tableau de saisie -->
  <table>
    <thead>
      <tr>
        <th>Libellé</th>
        <th>Min</th>
        <th>Max</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let range of list; let i = index">
        <td>
          <input type="text" [(ngModel)]="range.libelle" />
        </td>
        <td>
          <input type="number" [min]="(i > 0 ? list[i - 1].min : 0) + 1"
            [max]="(i < list.length - 1 ? list[i + 1].min : 0) - 1" [value]="range.min" [readonly]="i === 0"
            (input)="updateMin(i, $event)" />
        </td>
        <td>
          @if(i == list.length - 1){
          {{ 'et plus' }}
          }
          @else{
          {{ range.max }}
          }
        </td>
      </tr>
    </tbody>
  </table>

  <button mat-raised-button class="btn-primary" (click)="saveSettings()">Sauvegarder</button>
</div>