.footer {
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-tertiary);
    padding: 20px;
    text-align: center;
    font-size: 14px;

    p {
        font-size: 14px;
    }
}