.footer {
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-primary);
    padding: 10px;
    text-align: center;
    font-size: 14px;
    margin-left : 260px;

    p {
        font-size: 14px;
    }
}