<section id="matrix">
<div class="controls">
    <div style="margin-top: 10px;">
      <label>Couleur sélectionnée :</label>
      <select [(ngModel)]="selectedColor">
        <option [value]="'#e74c3c'">Niveau 3</option>
        <option [value]="'#f9e79f'">Niveau 2</option>
        <option [value]="'#fcf3cf'">Niveau 1</option>
        <option [value]="'#f5f8fa'">Niveau 0</option>
      </select>
      <input type="color" disabled [(ngModel)]="selectedColor" />
    </div>
  </div>
  <h3>Impact (Prix €)</h3>

  <!-- Matrice avec labels de lignes à gauche et labels de colonnes en bas -->
  <table>
    <tr *ngFor="let row of matrix; let rowIndex = index">
      <th>
        <input [(ngModel)]="rowLabels[rowIndex]" placeholder="Ligne {{ rowIndex + 1 }}" />
      </th>
      <td *ngFor="let cell of row; let colIndex = index"
          [ngStyle]="getCellStyle(cell)"
          (click)="setColor(rowIndex, colIndex)">

      </td>
    </tr>
  
    <!-- Labels de colonnes en bas -->
    <tr class="ff">
      <th>Nb de fois / Prix </th>
      <td *ngFor="let colLabel of colLabels; let i = index; trackBy: trackByFn">
        <input [(ngModel)]="colLabels[i]" placeholder="Col {{ i + 1 }}" />
      </td>
    </tr>
  </table>
  <button class="add-button" mat-raised-button color="primary" (click)="saveMatrice()">
    Sauvegarder la matrice
  </button>
</section>
