<mat-drawer-container class="sidenav-container">
  <mat-drawer mode="side" [opened]="true">
    <mat-toolbar color="primary">
      <span>Risk View</span>
    </mat-toolbar>
    @if(authService.isLogin$ | async){
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon>
          <span>Tableau de bord</span>
        </a>      
        <ng-container *appHasPermission="'VIEW_INCIDENTS'">
          <a mat-list-item routerLink="/incident">
            <mat-icon>warning</mat-icon>
            <span [matBadge]="unreadIncidents > 0 ? unreadIncidents : null"
                  matBadgeColor="warn"
                  matBadgePosition="above after"
                  mat-button>
              Incidents
            </span>
          </a>
        </ng-container>        
        <a mat-list-item [matMenuTriggerFor]="menu">
          <mat-icon>settings</mat-icon>
          <span>Administration</span>
        </a>
        <mat-menu #menu="matMenu">
          <button routerLink="/reglages" mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Paramétrage global</span>
          </button>
          <!-- <button mat-menu-item routerLink="/user/create">
            <mat-icon>group</mat-icon>
            <span>Ajouter un utilisateur</span>
          </button> -->
          <button mat-menu-item routerLink="/user/list">
            <mat-icon>group</mat-icon>
            <span>Gestion des utilisateurs</span>
          </button>
          <button mat-menu-item routerLink="/permissions">
            <mat-icon>lock</mat-icon>
            <span>Gestion des permissions</span>
          </button>
        </mat-menu>
        <button class="deco" mat-list-item (click)="onLogout()">
          <mat-icon>logout</mat-icon>
          <span>Déconnexion</span>
        </button>
      </mat-nav-list>
    }
  </mat-drawer>
  <mat-drawer-content>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>