<mat-drawer-container class="sidenav-container">
  <mat-drawer mode="side" [opened]="true">
    <mat-toolbar color="primary">
      <span>Risk View</span>
    </mat-toolbar>
   
    <mat-nav-list>
      @if(authService.isLogin$ | async){
      <ng-container *appHasPermission="'VIEW_DASHBOARDS'">
        <a mat-list-item routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon>
          <span>{{ 'MENU.DASHBOARD' | translate }}</span>
        </a>
      </ng-container>
      <ng-container *appHasPermission="'VIEW_INCIDENTS'">
        <a mat-list-item routerLink="/incident">
          <mat-icon>warning</mat-icon>
          <span [matBadge]="unreadIncidents > 0 ? unreadIncidents : null" matBadgeColor="warn"
            matBadgePosition="above after" mat-button>
            {{ 'MENU.INCIDENTS' | translate }}
          </span>
        </a>
      </ng-container>
      <!-- <ng-container *appHasPermission="'VIEW_ACTION_PLANS'"> -->
      <ng-container>
        <a mat-list-item routerLink="/action-plan/chart">
          <mat-icon>pie_chart</mat-icon>
          <span>Plans d'action</span>
        </a>
      </ng-container>
      <ng-container>
        <a mat-list-item routerLink="/control/chart">
          <mat-icon>bar_chart</mat-icon>
          <span>Contrôles</span>
        </a>
      </ng-container>
      <a mat-list-item [matMenuTriggerFor]="menu">
        <mat-icon>settings</mat-icon>
        <span>{{ 'MENU.ADMIN' | translate }}</span>
      </a>
      <mat-menu #menu="matMenu">
        <button routerLink="/reglages" mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>{{ 'MENU.SETTINGS' | translate }}</span>
        </button>
        <button mat-menu-item routerLink="/user/list">
          <mat-icon>group</mat-icon>
          <span>{{ 'MENU.USERS' | translate }}</span>
        </button>
        <button mat-menu-item routerLink="/permissions">
          <mat-icon>lock</mat-icon>
          <span>{{ 'MENU.PERMISSIONS' | translate }}</span>
        </button>
      </mat-menu>
      }
      <a mat-list-item [matMenuTriggerFor]="langMenu">
        <mat-icon>language</mat-icon>
        <span>{{ 'MENU.LANGUAGE' | translate }}</span>
      </a>
      <mat-menu #langMenu="matMenu">
        <button mat-menu-item (click)="changeLang('fr')"><span>🇫🇷 Français</span></button>
        <button mat-menu-item (click)="changeLang('en')"><span>🇬🇧 English</span></button>
      </mat-menu>
      @if(authService.isLogin$ | async){
      <button class="deco" mat-list-item (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>{{ 'MENU.LOGOUT' | translate }}</span>
      </button>
      }
    </mat-nav-list>
   
  </mat-drawer>
  <mat-drawer-content>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>