<h2 mat-dialog-title>Ajouter un Impact</h2>
<mat-dialog-content>
  <form (ngSubmit)="addImpact()">
    <div>
      <mat-label>Montant</mat-label>
      <input matInput type="number" [(ngModel)]="impact.montant" name="montant" required />
    </div>

    <div>
      <mat-label>Type</mat-label>
      <input matInput type="text" [(ngModel)]="impact.type" name="type" required />
    </div>

    <div>
      <mat-label>Date de comptabilisation (facultatif)</mat-label>
      <input matInput type="date" [(ngModel)]="impact.comptabilisationDate" name="comptabilisationDate" />
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Entité impactée</mat-label>
      <mat-select required (selectionChange)="setEntite($event.value);">
        @for(entite of entites; track entite){
        <mat-option [value]="entite">
          {{ entite.name }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="actions">
      <button [disabled]="!impact.montant || !impact.type" mat-button type="submit" color="primary">Ajouter</button>
      <button mat-button class="red" type="button" (click)="close()">Annuler</button>
    </div>
  </form>
</mat-dialog-content>