<mat-card class="incident-card">
    <mat-card-header>
        <mat-card-title>Détails de l'incident</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="incident-info">
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="impact-card">
    <mat-card-header>
        <mat-card-title>Impacts</mat-card-title>
        <button mat-raised-button color="primary" (click)="addImpact()">
            <span>
                <mat-icon>add</mat-icon>
            </span>
        </button>
    </mat-card-header>
    <mat-card-content>
        <mat-list class="impacts-list">
            <div class="impacts-container">
                @for(impact of incident?.impacts; track impact){
                <mat-list-item>
                    <mat-icon mat-list-icon>attach_money</mat-icon>
                    <div class="impact-info">
                        <span><strong>{{ impact.type }}:</strong> {{ impact.montant }}€</span>
                        <span>{{ impact.date | date }}</span>
                    </div>
                </mat-list-item>
                }
            </div>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card class="process-card">
    <mat-card-header>
        <mat-card-title>Processus impacté</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="incident-state">
            <span>Processus impacté: <strong>{{ incident?.processName }}</strong></span>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="entities-card">
    <mat-card-header>
        <mat-card-title>Entité impactée</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="incident-state">
            <span>Entité responsable: <strong>{{ incident?.entiteResponsable }}</strong></span>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="state-card">
    <mat-card-header>
        <mat-card-title>Statut</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="incident-state">
            <span>Status: <strong>{{ incident?.state }}</strong></span>
            <button mat-raised-button color="warn" (click)="changeStatus()">Change Status</button>
        </div>
    </mat-card-content>
</mat-card>