mat-card {
  margin: 20px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.incident-card:hover,
.impact-card:hover,
.process-card:hover,
.entities-card:hover,
.state-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.incident-info,
.impact-info,
.processus-info,
.entity-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.incident-info mat-grid-list {
  margin-top: 20px;
}

.global-info{
  display: flex;
  flex-direction: row;
  gap : 20px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.dates {
  display: flex;
  flex-direction: column;
  width: 50%;
}


mat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.incident-state {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}



.impacts-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  overflow-x: auto;
}

app-impact-card {
  min-width: 180px;
  flex: 1 1 21%;
  max-width: 180px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  position: relative;
  bottom: 5px;
}

button.add {
  display: flex;
  align-items: center;
  gap: 10px;
}



.full-width {
  width: 100%;
}

::ng-deep .mat-mdc-card-header-text {
  width: 100%;
}

mat-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: var(--mat-sys-on-primary-container);
  margin-bottom: 10px;
}

.date-info {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  align-items: center;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

mat-form-field mat-label {
  font-weight: bold;
  font-size: large;
  color: var(--mat-sys-on-secondary-container);
}

mat-form-field input {
  color: #424242;
}

mat-form-field .mat-form-field-appearance-outline .mat-form-field-outline {
  border-radius: 4px;
}

textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 200px;
}

textarea.mat-input-element {
  font-size: 14px;
}

mat-form-field textarea {
  font-size: 14px;
}

mat-card-header {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

mat-card-header span {
font-size: 20px;
  font-weight: bold;
}

mat-card-content {
  padding-top: 10px;
}

@media (max-width: 768px) {
  .impacts-container {
    flex-direction: column;
  }

  app-impact-card {
    width: 100%;
    margin-bottom: 20px;
  }
}

.info-container{
  display: flex;
  min-height: 90vh;
  mat-card {
    flex : 1;
  }
  >div{
    flex : 1;
    min-height: 90vh;
  }
}

.comment-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--mdc-filled-text-field-container-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    .user-icon {
      font-size: 1.5rem;
      color: var(--box-background-color);
      margin-right: 0.5rem;
    }

    .username {
      font-weight: bold;
      color: var(--mat-sys-on-primary-container);
      font-size: 1.2rem;
    }
  }

  .comment-text {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-color);
    white-space: pre-wrap;
  }
}

.comment-section {
  .comment-header-bar {
    background-color: #f0f0f0;
    text-align: center;
    font-weight: 500;
    padding: 8px 0;
    border-radius: 8px;
    margin-bottom: 12px;
    color: #444;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  }
}