.incident-card,
.impact-card,
.process-card,
.entities-card,
.state-card {
  margin: 20px 20px;
  // padding: 15px;
}

.incident-info,
.impact-info,
.processus-info,
.entity-info {
  display: flex;
  flex-direction: row;
  gap : 5px;
}

.incident-info mat-grid-list {
  margin-top: 20px;
}

.incident-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.detail-label {
  font-weight: bold;
  color: #1976d2;
}

.detail-value {
  font-size: 14px;
  color: #424242;
}

mat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-list-item mat-icon {
  color: #1976d2;
}

.incident-state {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

button.mat-raised-button {
  background-color: #f44336;
  color: white;
}

button.mat-raised-button:hover {
  background-color: #e53935;
}

.impacts-container{
  display: flex;
  gap : 10px;
}