<!-- Actions -->
<mat-card class="container">
    <app-popup-header [title]="'Actions à effectuer'" [showClose]="true" (close)="closePopup()"></app-popup-header>
    <div class="actions-container">
        <div class="add-action">
            <button mat-raised-button type="button" class="btn-green" (click)="addAction()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <div class="actions-list">
        <div *ngFor="let action of actions; let i = index">
            <mat-form-field appearance="outline" class="action-field">
                <input matInput [(ngModel)]="action.name" [ngModelOptions]="{standalone: true}"
                    placeholder="Entrez une action">
                <button matSuffix type="button" (click)="removeAction(i)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>

    <!-- Buttons -->
    <div class="dialog-buttons">
        <button mat-button mat-dialog-close type="button" class="btn-cancel">
            Annuler
        </button>
        <button mat-button mat-raised-button color="primary" type="button" (click)="save()" [disabled]="actions.length === 0">
            Enregistrer
        </button>
    </div>
</mat-card>