<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Période</mat-label>
    <mat-date-range-input [rangePicker]="rangePicker" formGroupName="selectedRange">
      <input matStartDate formControlName="start" placeholder="Début" />
      <input matEndDate formControlName="end" placeholder="Fin" />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #rangePicker></mat-date-range-picker>
  </mat-form-field>
</form>