<div class="process-container">
    <app-go-back previousPageName="Paramétrage Global" currentPageName="Gestion des processus"
        [redirectUrl]="['reglages']" />

    <!-- Header avec glassmorphism -->
    <div class="header-container">
        <div class="header-content">
            <div class="header-info">
                <h1 class="main-title">Gestion des Processus</h1>
            </div>

            <button mat-raised-button class="btn-primary" (click)="add()">
                <mat-icon>add</mat-icon>
                Nouveau Processus
            </button>
        </div>

        <!-- Barre de recherche -->
        <div class="search-container">
            <mat-icon class="search-icon">search</mat-icon>
            <input type="text" placeholder="Rechercher un processus..." class="search-input" [(ngModel)]="searchTerm"
                (input)="onSearch($event)" />
        </div>
    </div>

    <!-- Arbre hiérarchique -->
    <div class="hierarchy-container">
        <div class="tree-wrapper">
            <ng-container *ngFor="let node of filteredProcesses">
                <div class="node-container" [ngClass]="'level-' + node.niveau">

                    <!-- Ligne de connexion -->
                    <div class="connection-line" *ngIf="node.niveau > 0"></div>

                    <!-- Node principal -->
                    <div class="process-node" [ngClass]="getNodeClasses(node)" (click)="toggleNode(node.id)">
                        <!-- Effet de brillance -->
                        <div class="shine-effect"></div>

                        <div class="node-content">
                            <div class="node-left">
                                <!-- Chevron d'expansion -->
                                <div class="chevron-container" *ngIf="hasChildren(node)">
                                    <mat-icon class="chevron-icon" [ngClass]="{'expanded': isExpanded(node.id)}">
                                        chevron_right
                                    </mat-icon>
                                </div>

                                <!-- Icône et infos -->
                                <div class="node-info">
                                    <div class="icon-container" [ngClass]="'icon-' + node.type">
                                        <mat-icon>{{ getNodeIcon(node.type) }}</mat-icon>
                                    </div>

                                    <div class="text-info">
                                        <h3 class="node-name" [ngClass]="'name-' + node.type">
                                            {{ node.name }}
                                        </h3>
                                        <p class="node-description" *ngIf="hasChildren(node)">
                                            {{ getChildrenCount(node) }} processus
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- Badge de niveau -->
                            <div class="level-badge" [ngClass]="'badge-' + node.type">
                                Niveau {{ node.niveau }}
                            </div>
                        </div>
                    </div>

                    <!-- Children avec animation -->
                    <div class="children-container" [ngClass]="{'expanded': isExpanded(node.id)}"
                        *ngIf="hasChildren(node)">
                        <div class="children-wrapper">
                            <ng-container *ngFor="let child of node.children">
                                <ng-container
                                    *ngTemplateOutlet="nodeTemplate; context: { $implicit: child }"></ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <!-- Template récursif pour les enfants -->
    <ng-template #nodeTemplate let-node>
        <div class="node-container" [ngClass]="'level-' + node.level">

            <!-- Ligne de connexion -->
            <div class="connection-line" *ngIf="node.level > 0"></div>

            <!-- Node principal -->
            <div class="process-node" [ngClass]="getNodeClasses(node)" (click)="toggleNode(node.id)">
                <!-- Effet de brillance -->
                <div class="shine-effect"></div>

                <div class="node-content">
                    <div class="node-left">
                        <!-- Chevron d'expansion -->
                        <div class="chevron-container" *ngIf="hasChildren(node)">
                            <mat-icon class="chevron-icon" [ngClass]="{'expanded': isExpanded(node.id)}">
                                chevron_right
                            </mat-icon>
                        </div>

                        <!-- Icône et infos -->
                        <div class="node-info">
                            <div class="icon-container" [ngClass]="'icon-' + node.type">
                                <mat-icon>{{ getNodeIcon(node.type) }}</mat-icon>
                            </div>

                            <div class="text-info">
                                <h3 class="node-name" [ngClass]="'name-' + node.type">
                                    {{ node.name }}
                                </h3>
                                <p class="node-description" *ngIf="hasChildren(node)">
                                    {{ getChildrenCount(node) }} processus
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Badge de niveau -->
                    <div class="level-badge" [ngClass]="'badge-' + node.type">
                        Niveau {{ node.niveau }}
                    </div>
                </div>
            </div>

            <!-- Children avec animation -->
            <div class="children-container" [ngClass]="{'expanded': isExpanded(node.id)}" *ngIf="hasChildren(node)">
                <div class="children-wrapper">
                    <ng-container *ngFor="let child of node.children">
                        <ng-container *ngTemplateOutlet="nodeTemplate; context: { $implicit: child }"></ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-template>
</div>