<h2>Formulaire de création d'un plan d'action</h2>

<form #actionPlanForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
        <label>Nom</label>
        <input name="name" [(ngModel)]="actionPlan.name" required />
    </div>

    <div>
        <label>Libellé</label>
        <input name="libelle" [(ngModel)]="actionPlan.libelle" required />
    </div>

    <div>
        <label>Description</label>
        <textarea name="description" [(ngModel)]="actionPlan.description" required></textarea>
    </div>

    <div>
        <label>Échéance</label>
        <input type="date" name="echeance" [(ngModel)]="actionPlan.echeance" required />
    </div>

    <div>
        <label>Statut</label>
        <select name="statut" [(ngModel)]="actionPlan.status">
            @for(s of statuts; track s){
            <option [ngValue]="s">{{ s }}</option>
            }
        </select>
    </div>

    <div>
        <label>Priorité</label>
        <select name="priority" [(ngModel)]="actionPlan.priority">
            @for(p of priorities; track p){
            <option [ngValue]="p">{{ p }}</option>
            }
        </select>
    </div>

    <div>
        <label>Impact</label>
        <select name="impact" [(ngModel)]="actionPlan.impact">
            @for(i of impacts; track i){
            <option [ngValue]="i">{{ i }}</option>
            }
        </select>
    </div>

    <div>
        <label>Entité Responsable</label>
        <select name="entiteResponsable" [(ngModel)]="entiteResponsableId"
            (ngModelChange)="onEntiteResponsableChange()">
            @for(bu of entitesResponsables; track bu){
            <option [ngValue]="bu.id">{{ bu.name }}</option>
            }
        </select>
    </div>

    @if(entiteResponsableId){
    <div>
        <label>Process</label>
        <select name="process" [(ngModel)]="processId" (ngModelChange)="onProcessChange()">
            @for(p of processes; track p){
            <option [ngValue]="p.id">{{ p.name }}</option>
            }
        </select>
    </div>
    }

    @if(processId){
    <div>
        <label>Risk</label>
        <select name="risk" [(ngModel)]="actionPlan.riskId">
            @for(r of risks; track r){
            <option [ngValue]="r.id">{{ r.name }}</option>
            }
        </select>
    </div>

    }
    <button type="submit">Créer</button>
</form>