<!--  risk-selection-dialog.component.html  -->
<h2 mat-dialog-title>Sélectionner un risque</h2>

<mat-dialog-content>
  <mat-list>

    @for (risk of data.risks; let i = $index; track trackByRisk(i, risk)) {
      <mat-chip (click)="selectRisk(risk)">
        {{ risk.reference }} – {{ risk.libellePerso }}
      </mat-chip>
    }

  </mat-list>
</mat-dialog-content>

<mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" (click)="closeDialog()">Annuler</button>
</mat-dialog-actions>
