@if(history && history.length > 0) {
<div class="body-container">
    <app-go-back [title]="`Suivi de l'incident`"></app-go-back>
</div>

<div class="timeline-container">

    <mat-vertical-stepper [linear]="false" #stepper>
        <mat-step *ngFor="let entry of history" [completed]="true" [editable]="false">

            <ng-template matStepLabel>
                <div class="timeline-content mat-elevation-z2">
                    <!-- Icône personnalisée -->


                    <div class="header">
                        <mat-icon class="timeline-icon">
                            {{
                            entry.action.toLowerCase().includes("création") ? 'add_circle' :
                            entry.action.toLowerCase().includes("modi") ? 'edit' :
                            entry.action.toLowerCase().includes("ajouté") ? 'track_changes' :
                            entry.action.toLowerCase().includes("message") ? 'message' :
                            'delete'
                            }}
                        </mat-icon>
                        <span class="meta">
                            Par {{ entry.performed_by }} le {{ entry.timestamp | date:'dd/MM/yyyy à HH:mm' }}
                        </span>
                    </div>
                    <div class="header">
                        <strong>{{ entry.action }}</strong>
                    </div>

                    <label>Commentaires : </label>
                    <p *ngIf="entry.comment" class="comment">{{ entry.comment }}</p>
                </div>
            </ng-template>

        </mat-step>
    </mat-vertical-stepper>

</div>
}