@if(history && history.length > 0) {
<div style="margin: 15px;">
    <!-- <app-go-back previousPageName="Détails de l'incident"
        [currentPageName]="`Suivi de l'incident`"></app-go-back> -->
</div>

<div class="timeline-container">
    <!-- <h2>Suivi de l’incident - {{incident.title}}</h2> -->

    <div *ngIf="history.length === 0" class="empty">
        <mat-icon>history</mat-icon> Aucun historique disponible.
    </div>

    <div class="timeline">
        <div class="timeline-item" *ngFor="let entry of history">
            <!-- <div class="timeline-icon" [ngClass]="entry.action.toLowerCase()">
                <mat-icon>
                    {{
                    entry.action === 'CREATION' ? 'add_circle' :
                    entry.action === 'MODIFICATION' ? 'edit' :
                    entry.action === 'IMPACT_ADDED' ? 'track_changes' :
                    'delete'
                    }}
                </mat-icon>
            </div> -->


            <div class="timeline-content mat-elevation-z2">
                <div class="header">
                    <strong>{{ entry.action }}</strong>
                    <span class="meta">
                        Par {{ entry.performed_by }} le {{ entry.timestamp | date:'dd/MM/yyyy à HH:mm' }}
                    </span>
                </div>

                <label>Commentaires : </label>
                <p *ngIf="entry.comment" class="comment">{{ entry.comment }}</p>

            </div>

        </div>
    </div>
</div>
}