@if(impact){
<mat-card>
    <mat-card-content>
        <div>
            <strong>Montant :</strong>
            <span> {{ impact.montant | currency : 'EUR' }}</span>
        </div>
        <div>
            <strong>Entité :</strong>
            <span>{{ getEntityName(impact.entityId) }}</span>
        </div>
        <div>
            <strong>Type :</strong>
            <span> {{ impact.type }}</span>
        </div>
        @if(impact.comptabilisationDate){
        <div>
            <strong>Date de comptabilisation :</strong>
            <span> {{ impact.comptabilisationDate | date: 'dd/MM/yyyy' }}</span>
        </div>
        }
    </mat-card-content>
</mat-card>
}