@if(impact){
<mat-card>
    <mat-card-content>
        <div>
            <strong>Montant :</strong>
            <span> {{ impact.montant | currency : 'EUR' }}</span>
        </div>
        <div>
            <strong>Processus :</strong>
            <span> {{ impact.processName }}</span>
        </div>
        <div>
            <strong>Entité :</strong>
            <span> {{ impact.entityName }}</span>
        </div>
        <div>
            <strong>Date de création :</strong>
            <span> {{ impact.createdAt | date: 'dd/MM/yyyy à HH:mm' }}</span>
        </div>
    </mat-card-content>
</mat-card>
}