<section>
  <h2>Rôles</h2>

  <div class="entite-container">

    <mat-form-field appearance="outline">
      <mat-label>Rechercher</mat-label>
      <input matInput (input)="applyFilter($event)" placeholder="Entrez une entité...">
    </mat-form-field>

    @if(filteredEntities && filteredEntities.length > 0){
    <mat-tree #tree [dataSource]="filteredEntities" [childrenAccessor]="childrenAccessor">
      <!-- Nœud feuille -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <span>{{node.name}}</span>
        <mat-checkbox [(ngModel)]="node.checked" (click)="$event.stopPropagation(); resetRole(node)">
        </mat-checkbox>

        @if(node.checked){
          <mat-form-field (click)="$event.stopPropagation()" appearance="outline" class="role-select">
            <mat-select (selectionChange)="onRoleChange(node)" [(ngModel)]="node.role" placeholder="Choisir un rôle">
              <mat-option *ngFor="let role of roles" [value]="role">{{role.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        }

      </mat-tree-node>

      <!-- Nœud avec enfants -->
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding matTreeNodeToggle>
        <button mat-icon-button matTreeNodeToggle>
          <mat-icon>{{ tree.isExpanded(node) ? 'expand_more' : 'chevron_right' }}</mat-icon>
        </button>
        <span>{{node.name}}</span>
        <mat-checkbox [(ngModel)]="node.checked" (change)="onParentCheckChange(node, $event)"
          (click)="$event.stopPropagation()">
        </mat-checkbox>

        @if(node.checked){
          <mat-form-field (click)="$event.stopPropagation(); resetRole(node)" appearance="outline" class="role-select">
            <mat-select (selectionChange)="onRoleChange(node)" [(ngModel)]="node.role" placeholder="Choisir un rôle">
              <mat-option *ngFor="let role of roles" [value]="role">{{role.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        }
        
      </mat-tree-node>
    </mat-tree>
    }
    @else{
    <p>Aucune entité trouvé</p>
    }
  </div>
</section>