name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: polyswantech
          password: ${{ secrets.GHCR_PAT }}

      - name: Build Docker image
        run: |
          docker build . --file Dockerfile --tag ghcr.io/polyswantech/frontend:latest

      - name: Push Docker image to GHCR
        run: |
          docker push ghcr.io/polyswantech/frontend:latest

      - name: Deploy to sever via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: 51.38.48.197
          username: debian
          key: ${{secrets.SSH_PRIVATE_KEY}}
          port: 49152
          script: |
            cd /home/debian/Documents/appli
            docker rm -f frontend || true
            docker rmi ghcr.io/polyswantech/frontend:latest || true
            docker compose up -d frontend
