.chart-container {
   
    height: 460px;
    margin: 40px auto;
    border-radius: 12px;
    padding: 1rem;
  
    mat-card-header {
      justify-content: center;
      text-align: center;
      padding-bottom: 0;
    }
  
    mat-card-title {
      font-size: 1.4rem;
      font-weight: 600;
      color: #1a237e;
    }

    
    mat-card-content{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
  
    canvas {
      display: block;
      max-height: 300px;
      width: 100% !important;

    }
  
    .toggle-switch {
      display: flex;
      justify-content: center;
      min-height: 40px;
      margin: 15px auto 0 auto;
    }
  }
  